<%include partials/header%>
<link rel="stylesheet" href="/css/movies.css">

<h2>Number of results: <%= results.length;%></h2>


<table id="imdb_results">
    <tr>
        <th>IMDb Id</th>
        <th>Title</th>
        <th>Year</th>
        <th>Type</th>
    </tr>
    <% results.forEach(function(movie) {%>
        <tr>
            <td> <%= movie.imdbID %> </td>
            <td> <%= movie.Title;%></a> </td>
            <td> <%= movie.Year;%> </td>
            <td> <%= movie.Type;%> </td>
        </tr>
    <% }); %>
</table>


<a href="/imdb_search">Search Again!</a>

<%include partials/footer%>